{% extends 'base.html' %}

{% block content %}


<div class="home-container">


    <div>

        {% include 'base/topic_component.html' %}

    </div>


    <div class="main-home">

        <a href="{% url 'create-room' %}" type="button" class="btn btn-primary">Create a new room</a>

        <div>
            <ul class="list-group list-group-flush">
                {% for room in rooms %}


                <li class="list-group-item">

                    <div>

                        <div class="left">
                            @{{ room.host }}
                        </div>
                        <div class="right">
                            {% if request.user == room.host or request.user.is_superuser %}

                            <a href="{% url 'update-room' room.id %}"><img
                                    src="https://img.icons8.com/material-outlined/24/000000/edit--v1.png" /></a>
                            <a href="{% url 'delete-room' room.id %}"><img
                                    src="https://img.icons8.com/material-outlined/24/000000/delete-sign.png" /></a>
                            {% else %}

                            <br>

                            {% endif %}

                        </div>
                    </div>

                    <div>
                        <h3>
                            <a href="{% url 'room' room.id %}">
                                {{room.name}}
                            </a>
                        </h3>
                    </div>
                    <b><small>{{ room.topic.name }}</small></b>
                </li>
                {% endfor %}
            </ul>
        </div>

    </div>

    <div>
        {% include 'base/activity_component.html' %}
    </div>


</div>

{% endblock %}