{% extends 'base.html' %}

{% block content %}

<div class="room-container">

    <div class="message-box">
        <div>
            <span> Created by @{{ room.host }}</span>
            <h2>{{ room.name }}</h2>
            <p>{{ room.description }}</p>
        </div>

        <div class="card">
            <ul class="list-group list-group-flush">
                {% for message in messages %}
                <li class="list-group-item">
                    <div class="left">
                        <b>
                            <span>{{ message.user }}, {{ message.created_at|timesince }} ago </span>
                        </b>
                    </div>
                    <div class="right">
                        {% if message.user == request.user %}
                        <a href="{% url 'delete-message' message.id %}"><img
                                src="https://img.icons8.com/material-outlined/24/000000/delete-sign.png" /></a>
                        {% endif %}
                    </div>
                    <p>
                        {{message.body}}
                    </p>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% if request.user.is_authenticated %}
        <form action="" method="POST"> {% csrf_token %}
            <input class="form-control me-2" type="text" name="message-input" placeholder="Type your message...">
        </form>
        {% endif %}

    </div>

    <div>
        <h2>Participants</h2>
        <ol class="list-group list-group-numbered">
            {% for participant in participants %}
            <li class="list-group-item">@ {{participant.username}}</li>
            {% endfor %}
        </ol>
    </div>

</div>

{% endblock %}